html,
body {
  background-color: #eee;
  padding: 0px;
  margin: 0px;
  font-family: "Cutive Mono", monospace;
}
.container {
  max-width: 720px;
  margin: 40px auto;
  padding: 0 0 0 20px;
}
.container h3 {
  font-size: 24px;
}
.heading {
  display: flex;
  justify-content: left;
  font-size: 18px;
}
.heading .profile-pic {
  height: 150px;
  width: 150px;
  margin-right: 20px;
  border-radius: 75px;
}
.heading .profile-info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.heading .name {
  font-size: 22px;
}
.heading .link-icon {
  height: 32px;
  width: 32px;
}
.heading .title {
  margin-top: 10px;
  font-size: 18px;
}
.container .split {
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  .container .split {
    flex-direction: row;
    justify-content: space-between;
  }
}

.project {
  margin: 20px 0;
}
.project .project-title {
  font-weight: bold;
}
